
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">My Trips</h3></div>
    <div class="panel-body"><span> </span>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Stops </th>
                        <th>Distance </th>
                        <th>Cost </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="trip in user.trips" ng-click="setSelected(trip)" ng-class="{active: selectedTrip===trip}">
                        <td>{{trip.name}}</td>
                        <td>{{trip.stops.length}}</td>
                        <td>{{getTotalDistance(trip)}}</td>
                        <td>{{getTotalPrice(trip)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-success btn-sm" type="button" ng-click="loadTrip()" ng-disabled="!selectedTrip">Open trip</button>
        <button class="btn btn-danger btn-sm" type="button" style="margin-left: 5px;" ng-click="removeTrip()" ng-disabled="!selectedTrip">Remove trip</button>
    </div>
</div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Trip Details</h3></div>
      <div class="panel-body">
          <!-- <canvas style="height: 150px;" id="line" class="chart chart-line" chart-data="data"
          chart-labels="" chart-legend="true" chart-series="series"></canvas> -->
        <ng-map id="profile_map" center="40.693464, -73.980318" zoom="11" style="height: 200px;">
          <shape name="polyline"
        path="{{getLocations()}}"
        geodesic="true"
        stroke-color="#FF0000"
        stroke-opacity="1.0"
        stroke-weight="2">
      </shape>
      <marker ng-repeat="stop in selectedTrip.stops" position="{{stop.coords}}">
        </marker>
        </ng-map>

      </div>
  </div>
