#title{
  font-family:'Lobster';
  font-size:x-large;
}

#find-btn{
  margin-right:5px;
}

#welcome-msg{
  font-family:'Lobster';
}

li.list-group-item{
  border:solid 1px;
}

.btn{
  border-radius:5px;
}

#row-text{
  font-size: small;
}
#label-text{
  font-weight: bold;
  color: black;
}
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade{
  opacity: 1;
  transition:0.5s linear all;
}
.fade.ng-enter{
  opacity:1;
}
.fade.ng-leave {
  opacity:0;
}
