<div class="col-lg-8 col-md-8">
    <div class="btn-group btn-group-xs btn-group-justified" role="group"><a class="btn btn-default btn-sm" role="button" ng-click="getNearby('bar')" id="find-btn"><i class="material-icons">local_bar</i></a>
        <a class="btn btn-default btn-sm" role="button" href="#"> <i class="material-icons">restaurant</i></a>
        <a class="btn btn-default btn-sm" role="button" href="#"> <i class="material-icons">sentiment_very_satisfied</i></a>
    </div>
    <p> </p>
    <ng-map default-style="true" center="40.693464, -73.980318" zoom="11">
        <info-window id="iw">
          <div id="label-text">
            <p>
              <b>name: {{currentDisplayStop().name}}</b>
            </p>
            <p>
              <b>rating: {{currentDisplayStop().rating}}</b>
            </p>
          </div>
        </info-window>
        <marker id="{{stop._id}}" ng-repeat="stop in shownStops()" position="{{stop.coords}}"
            animation="DROP"
            draggable="true" on-click="showDetails(stop)">
          </marker>
    </ng-map>
    <button ng-show="currentDisplayStop()" class="btn btn-success btn-block" ng-click="addStop()" type="button">+Add this stop</button>
    <button ng-hide="!getCurrent()" class="btn btn-danger btn-block" type="button" ng-click="removeStop()">Remove this stop</button>
</div>
<p> </p>
<div class="col-lg-4 col-md-4">
    <h4 ng-show="!getCurrentTrip().editing" ng-click="getCurrentTrip().editing = !getCurrentTrip().editing">{{getCurrentTrip().name}}</h4>
    <input ng-show="getCurrentTrip().editing" ng-model="getCurrentTrip().newName" ng-blur="editTrip()" type="text" value="{{getCurrentTrip().name}}" ></input>
    <ul class="list-group">
        <stop-item ng-repeat="stop in getCurrentTrip().stops" item="stop"></stop-item>
    </ul>
</div>
